body {
  background-color: dimgrey;
  text-align: center;
  
}
.omnie {
  text-align: start;
}
#footer {
  position: absolute;
  left:10px;
  bottom: 0px;
}
.po{
text-align: center;
padding-bottom: 50px;
}
.zdiecie {
  width: 250px;
  height: 100px;
  
}
  


