@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  background-color: rgb(66, 66, 66);
overflow: hidden;
}

h1 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: white;
}

.links {
  text-align: center;
  a {
    font-family: 'Roboto', serif;
    text-decoration: none;
    margin: 5px;
    font-size: 2em;
    padding: 1vw;
    color: rgb(255, 255, 255);
    position: relative;
    transition: 0.2s;
    box-shadow: 4px 4px 8px black;
    border-radius: 10px;
    font-weight: 300;
    &:hover {
      box-shadow: 2px 2px 8px black;
  
    }
  }
}
.tiktok{
  background-color:  #FE2C55;
}
.twitter{
  background-color: rgb(39, 131, 218);
}
.reddit{
  background-color: rgb(255, 94, 0)
}
.github{
background: #333;
}
#discord {
  margin: 0px;
  font-family: 'Roboto', serif;
  font-size: 2em;
  color: rgb(255, 255, 255);
  position: relative;
  transition: 0.2s;
  box-shadow: 4px 4px 8px black;
  border-radius: 10px;
  padding: 1vw;
  background-color: #5865F2;
  font-weight: 300;
  &:hover {
    box-shadow: 2px 2px 8px black;
  }
  // border: none;
  cursor: pointer;
}
.info{
  position: absolute;
  top: 85%;
  left: 40%;
  border-radius: 30px;
  padding: 7px;
  box-shadow: 5px 4px 15px black;
  font-family: 'Roboto', serif;
  font-weight: 400;
  background-color: rgb(78, 78, 78);
display: block;
&.hide{left: 587132487957239845px;
}
}

